@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  /*max-width: 600px;*/
  /*margin: 0 auto;*/
  /*padding: 5vw;*/
}

* {
  /*font-family: Roboto, Helvetica, Arial, sans-serif;*/
}

.arrow-right, .arrow-down {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
